@(ListaEscalas: List[model.vo.Escalas])
@main("Lista de Escalas") {


<script type="text/javascript">
    
    function apagar(id) {
       var durl = '/Escalas/' + id; 
        $.ajax({
        url: durl,
        type: 'DELETE',
       });
       window.location = location.href + '?' + new Date(); 
    }
</script>


 <h2>Escalas</h2>

   <table class="table table-striped">
    <thead>
      <tr class="info">
        <th>idEscalas</th>
        <th>cidade</th>
        <th>aeroporto</th>
        <th>embarque</th>
        <th>desembarque</th>
      </tr>
    </thead>
    <tbody>
    
    @for(Escalas <- ListaEscalas) {
      <tr>
        <td><a href="XXX"></a> @Escalas.idEscalas</td>
        <td><a href="XXX"></a> @Escalas.cidade</td>
        <td><a href="XXX"></a> @Escalas.aeroporto</td>
        <td><a href="XXX"></a> @Escalas.embarque</td>
        <td><a href="XXX"></a> @Escalas.desembarque</td>
        <td><input type="button" class="btn" value="apagar" onclick="apagar(@Escalas.idEscalas)"></td>
        </tr> 
    }
  
    </tbody>
    </table>
}