@main("Nova Escalas") {

<script type="text/javascript">
    
    function save() {
       var fdata = $('#newEscalasform').serializeJSON();
       var jdata = JSON.stringify(fdata);
        $.ajax({
        url: '/Escalas',
        type: 'POST',
        contentType: 'application/json',
        data: jdata,
        //processData: false, // this is optional
        dataType: 'json'
       });
       
    }
</script>

 <h2>Nova Escala</h2>

	<form id="newEscalasform">
	    <div class="form-group">	
        <label >idEscalas</label>
        <input class="form-control" type="text" name='idEscalas' id='idEscalas'/>
        </div>
        <div class="form-group">
        <label >Cidade</label>
        <input class="form-control" type="text" name='cidade' id='cidade' />
        </div>
        <div class="form-group">
        <label >Aeroporto</label>
        <input class="form-control" type="text" name='aeroporto' id='aeroporto'/> 
        </div>
        <div class="form-group">
        <label >Embarque</label>
        <input class="form-control" type="text" name='embarque' id='embarque' />
        </div>
        <div class="form-group">
        <label >Desembarque</label>
        <input class="form-control" type="text" name='desembarque' id='desembarque' />
        </div>
       	
       	<div class="form-group">
  		<button type="submit" class="btn" onclick="save()">Save</button>
  		</div>
      </form>
    
    

}