@main("Novo Passageiro") {

<script type="text/javascript">
    
    function save() {
       var fdata = $('#newPassageiroform').serializeJSON();
       var jdata = JSON.stringify(fdata);
        $.ajax({
        url: '/Passageiro',
        type: 'POST',
        contentType: 'application/json',
        data: jdata,
        //processData: false, // this is optional
        dataType: 'json'
       });
       
    }
</script>

 <h2>Novo Passageiro</h2>

	<form id="newPassageiroform">
	    <div class="form-group">	
        <label >IdPassageiro</label>
        <input class="form-control" type="text" name='IdPassageiro' id='Nome'/>
        </div>
        <div class="form-group">
        <label >Nome</label>
        <input class="form-control" type="text" name='nome' id='nome' />
        </div>
        <div class="form-group">
        <label >CPF</label>
        <input class="form-control" type="text" name='cpf' id='cpf'/> 
        </div>
        <div class="form-group">
        <label >Email</label>
        <input class="form-control" type="text" name='email' id='email' />
        </div>
        <div class="form-group">
        <label >Telefone</label>
        <input class="form-control" type="text" name='telefone' id='telefone' />
        </div>
       	
       	<div class="form-group">
  		<button type="submit" class="btn" onclick="save()">Save</button>
  		</div>
      </form>
    
    

}