@(Passageiros: List[model.vo.Passageiro])
@main("Lista de Passageiro") {


<script type="text/javascript">
    
    function apagar(id) {
       var durl = '/Passageiro/' + id; 
        $.ajax({
        url: durl,
        type: 'DELETE',
       });
       window.location = location.href + '?' + new Date(); 
    }
</script>


 <h2>Passageiros</h2>

   <table class="table table-striped">
    <thead>
      <tr class="info">
        <th>idPassageiro</th>
        <th>nome</th>
        <th>cpf</th>
        <th>email</th>
        <th>telefone</th>
      </tr>
    </thead>
    <tbody>
    
    @for(Passageiro <- Passageiros) {
      <tr>
        <td><a href="XXX"></a> @Passageiro.IdPassageiro</td>
        <td><a href="XXX"></a> @Passageiro.nome</td>
        <td><a href="XXX"></a> @Passageiro.cpf</td>
        <td><a href="XXX"></a> @Passageiro.email</td>
        <td><a href="XXX"></a> @Passageiro.telefone</td>
        <td><input type="button" class="btn" value="apagar" onclick="apagar(@Passageiro.IdPassageiro)"></td>
        </tr> 
    }
  
    </tbody>
    </table>
}