@main("Novos Voos") {

<script type="text/javascript">
    
    function save() {
       var fdata = $('#newVoosform').serializeJSON();
       var jdata = JSON.stringify(fdata);
        $.ajax({
        url: '/Voos',
        type: 'POST',
        contentType: 'application/json',
        data: jdata,
        //processData: false, // this is optional
        dataType: 'json'
       });
       
    }
</script>

 <h2>Novos Voos</h2>

	<form id="newVoosform">
	    <div class="form-group">	
        <label >idVoos</label>
        <input class="form-control" type="text" name='idVoos' id='idVoos'/>
        </div>
        <div class="form-group">
        <label >Horario</label>
        <input class="form-control" type="text" name='horario' id='horario' />
        </div>
        <div class="form-group">
        <label >Classe</label>
        <input class="form-control" type="text" name='classe' id='classe'/> 
        </div>
       	
       	<div class="form-group">
  		<button type="submit" class="btn" onclick="save()">Save</button>
  		</div>
      </form>
    
    

}