@(ListaVoos: List[model.vo.Voos])
@main("Lista de Voos") {


<script type="text/javascript">
    
    function apagar(id) {
       var durl = '/Voos/' + id; 
        $.ajax({
        url: durl,
        type: 'DELETE',
       });
       window.location = location.href + '?' + new Date(); 
    }
</script>


 <h2>Voos</h2>

   <table class="table table-striped">
    <thead>
      <tr class="info">
        <th>idVoos</th>
        <th>horario</th>
        <th>classes</th>
      </tr>
    </thead>
    <tbody>
    
    @for(Voos <- ListaVoos) {
      <tr>
        <td><a href="XXX"></a> @Voos.idVoos</td>
        <td><a href="XXX"></a> @Voos.horario</td>
        <td><a href="XXX"></a> @Voos.classe</td>
        <td><input type="button" class="btn" value="apagar" onclick="apagar(@Voos.idVoos)"></td>
        </tr> 
    }
  
    </tbody>
    </table>
}