@charset "utf-8";
/* CSS Document */

*{margin: 0; padding:0; font-family: 'Open Sans', sans-serif;}


.menu{	
	}	

.navegacao{
    width: 200px;
    margin:auto 150px auto auto;
	background-color:#454545;
    position: fixed;
	top:0px;
	bottom:0px;
	float:left;
	left:100px;
	
	}

.nav{
	width: 200px;
	overflow: hidden;
	margin: 200px 30px 10px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.item{
    list-style:none;
    margin: 7px auto auto auto;}

.item h1{
    color:#000000;
    text-transform:uppercase;
    font-size:20px;
    font-weight:500;}

.item a h1:link {color:#FFF; text-decoration: none;}
.item a h1:visited {color:#FFF;}
.item a h1:hover {color:#FFFFFF;}
.item a h1:active {
	color: #FFF;
	text-align: center;
}

.nav li:hover > .sub_navegacao {
    position: absolute;
    top: -8px;
    padding-left:800px;
    margin-left: 800px;
    display: block;}

.nav li{
	float: left;
	margin: auto 20px auto 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.tabela_aulas{
	position:relative;
	left:500px;
	top:100px;
		
}
.tabela_aulas h4 {
	font-family:Arial, Helvetica, sans-serif;color:#FFF;
	
	}
.item a:link {color:#FFF; text-decoration: none;}

/*Logo SI*/
.si{position:fixed; float:left; margin-left:135px; margin-top:40px; }

/*nome SISTEMA PARA INTERNTE*/
#sistemas{height:800px; width:50px;position:relative; top:235px;left:490px;
}
.sistemas:hover{
-ms-transform: rotate(-10deg);
-webkit-transform: rotate(-10deg);
-moz-transform: rotate(-10deg);
-o-transform: rotate(-10deg);
transform: rotate(-10deg);
}
/*GALERIA*/

.tituloGaleria{font-size: 24px; color: #FFFFFF; text-transform: uppercase; font-family:Arial, Helvetica, sans-serif;
    text-align: center;; position:relative; top:70px;left:540px; }

.hoverbox
{
	cursor: default;
	list-style: none;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 75px;
	padding-left:320px;
}

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}

.hoverbox a:hover .preview
{
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.hoverbox img
{
	background: #fff;
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	width: 180px;
	height: 120px;
}

.hoverbox li
{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
}

.hoverbox .preview
{
	border-color: #000;
    width: 400px;
	height: 250px;
}	

.secao1{
    height: 800px;
	background:url(../img/fundo.jpg);
}

.secao2{
    height: 800px;
    background:url(../img/fundo.jpg);
}

.secao3{
    height: 800px;
    background:url(../img/fundo.jpg);
}

.secao4{
    height: 900px;
    background:url(../img/fundo.jpg);
}
#tela_menu .navegacao .nav .item {
	font-weight: bold;
}



